.h2Dz{
	font-family: sans-serif;
	text-align: center;
	font-size: 50px;
	color: #555;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.h3Dz{
	font-family: sans-serif;
	margin: 0px 200px;
	text-align: center;
	color: #555;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-weight: 100;
}
